extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            if lang === 'en'
                .message-wrapper
                    .message-close-wrapper
                        .message-close X
                    .message-text-wrapper If you cannot perform the exercises in your program, you may do easier alternatives.
            else 
                .message-wrapper
                    .message-close-wrapper
                        .message-close X
                    .message-text-wrapper Programınızdaki hareketleri düzgün bir formda yapamıyorsanız eğer, daha kolay alternatiflerini yapabilirsiniz.
            .info-wrapper
                .copy-button
                if project.goals
                    if lang === 'en'
                        .tdee-wrapper Your daily calorie intake should be #{(project.tdee + 500)} calories
                    else 
                        .tdee-wrapper Günlük kalori alımınız #{project.tdee - 500} kalori olmalı
                else 
                    if lang === 'en'
                        .tdee-wrapper Your daily calorie need is #{project.tdee - 400} calories
                    else 
                        .tdee-wrapper Günlük kalori alımınız #{project.tdee - 400} kalori olmalı
            .title-wrapper#project28= __('Project 28')
            if project
                .applicant-info-wrapper
                    .applicant-info#name Name: #{project.name}
                    .applicant-info#name Email: #{project.email}
                - var dayCount = 0
                for day in project.days
                    - dayCount++
                    .each-day-wrapper 
                        for i in day
                            if i.isTitle
                                .each-day-title-wrapper #{__('Day')} #{dayCount} #{__(i.name)}
                            else
                                .each-exercise-wrapper
                                    .each-exercise-name Exercise: #{i.name}
                                    if i.sets 
                                        .each-exercise-sets #{i.sets / 1} #{__('Sets')}
                                    if !i.minutes
                                        .x-wrapper X
                                    if i.reps
                                        .each-exercise-reps #{i.reps} #{__('Reps')}
                                    else if i.seconds 
                                        .each-exercise-reps #{i.seconds} #{__('Sec.')} 
                                    else if i.minutes 
                                        .each-exercise-reps #{i.minutes} #{__('Min.')} 
                                    else if i.max
                                        .each-exercise-reps= __('MAX')
                                    if lang == 'en'
                                        if i.detailsEn
                                            .each-details-wrapper#details  #{i.detailsEn}
                                    else if lang == 'tr'
                                        if i.detailsTr
                                            .each-details-wrapper#details  #{i.detailsTr}
                                if lang == 'en'
                                    if i.detailsEn
                                        .responsive-details-wrapper()
                                            .each-details-wrapper  #{i.detailsEn}
                                else if lang == 'tr'
                                    if i.detailsTr
                                        .responsive-details-wrapper()
                                            .each-details-wrapper  #{i.detailsTr}
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/project')#project28= __('Project28')
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= __('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.translation-wrapper
                .translation-button#tr TR 
                .translation-button#en EN             