extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            if lang === 'en'
                .message-wrapper
                    .message-close-wrapper
                        .message-close X
                    .message-text-wrapper If you cannot perform the exercises in your program, you may do easier alternatives.
            else 
                .message-wrapper
                    .message-close-wrapper
                        .message-close X
                    .message-text-wrapper Programınızdaki hareketleri düzgün bir formda yapamıyorsanız eğer, daha kolay alternatiflerini yapabilirsiniz.
            .info-wrapper
                if lang === 'en'
                    .copy-button Copy Link
                if lang === 'tr'
                    .copy-button Copy Link
                if project.goals
                    if lang === 'en'
                        .tdee-wrapper Your daily calorie intake should be #{(project.tdee + 500)} calories
                    else 
                        .tdee-wrapper Günlük kalori alımınız #{project.tdee - 500} kalori olmalı
                else 
                    if lang === 'en'
                        .tdee-wrapper Your daily calorie need is #{project.tdee - 400} calories
                    else 
                        .tdee-wrapper Günlük kalori alımınız #{project.tdee - 400} kalori olmalı
            .title-wrapper#project28= __('Project 28')
            if project
                .applicant-info-wrapper
                    .applicant-info#name Name: #{project.name}
                    .applicant-info#name Email: #{project.email}
                - var dayCount = 0
                for day in project.days
                    - dayCount++
                    .each-day-wrapper 
                        for i in day
                            if i.isTitle
                                .each-day-title-wrapper #{__('Day')} #{dayCount} #{__(i.name)}
                            else
                                .each-exercise-wrapper
                                    .each-exercise-name Exercise: #{i.name}
                                    if i.sets 
                                        .each-exercise-sets #{i.sets / 1} #{__('Sets')}
                                    if !i.minutes
                                        .x-wrapper X
                                    if i.reps
                                        .each-exercise-reps #{i.reps} #{__('Reps')}
                                    else if i.seconds 
                                        .each-exercise-reps #{i.seconds} #{__('Sec.')} 
                                    else if i.minutes 
                                        .each-exercise-reps #{i.minutes} #{__('Min.')} 
                                    else if i.max
                                        .each-exercise-reps= __('MAX')
                                    if lang == 'en'
                                        if i.detailsEn
                                            .each-details-wrapper#details  #{i.detailsEn}
                                    else if lang == 'tr'
                                        if i.detailsTr
                                            .each-details-wrapper#details  #{i.detailsTr}
                                if lang == 'en'
                                    if i.detailsEn
                                        .responsive-details-wrapper()
                                            .each-details-wrapper  #{i.detailsEn}
                                else if lang == 'tr'
                                    if i.detailsTr
                                        .responsive-details-wrapper()
                                            .each-details-wrapper  #{i.detailsTr}
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/project')#project28= __('Project28')
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= __('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.responsive-translation-wrapper
                .responsive-translation-button#tr TR 
                .responsive-translation-button#en EN     
            a.instagram-wrapper(href='https://www.instagram.com/prodogramfit/' target='_blank')
                svg.instagram-logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                    path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
                    