extends ./head
block head
    .all-wrapper
        .header
            .navbar-wrapper
                a.title-text-wrapper(href='/')
                    .title-text.white PRO
                    .title-text.green DO
                    .title-text.white GRAM
                .navbar
                    a.each-navbar-item(href='/program')= __('Paketler')
                    a.each-navbar-item(href='/exercise')= __('Antrenman')
                    a.each-navbar-item(href='/diet')= __('Diyet')
                    a.each-navbar-item(href='/faq')= __('S.S.S.')
                    a.each-navbar-item(href='/calculator')= __('Hesaplama')
                    a.translation-wrapper
                        .translation-button#tr TR 
                        .translation-button#en EN
                    .responsive-sidebar-icon#sidebar-button
                        .responsive-sidebar-icon-bar
                        .responsive-sidebar-icon-bar
                        .responsive-sidebar-icon-bar
        block content