extends ../partials/header
block content
    .all-content-wrapper
        .calculator-wrapper
            .calculator-info-wrapper
                .calculator-info-title.green= __('Hesaplama')
                .calculator-info-text.white= __('tools-info') 
            .each-calculator
                .each-calculator-title= __('Yağ Oranı')
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('Cinsiyet')
                    .buttons-wrapper
                        .each-calculator-button.bodyfat-gender#male= __('Erkek')
                        .each-calculator-button.bodyfat-gender#female= __('Kadın')
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('Omuz Çevre Uzunluğu')
                    input.each-calculator-input.short-input#bodyfat-neck-circumference
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('Bel Çevre Uzunluğu')
                    input.each-calculator-input.short-input#bodyfat-waist-circumference
                .each-calculator-input-wrapper#hip(style="display: none;")
                    .each-calculator-input-label= __('Kalça Çevre Uzunluğu')
                    input.each-calculator-input.short-input#bodyfat-hip-circumference
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('height')
                    input.each-calculator-input.short-input#bodyfat-height
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('weight')
                    input.each-calculator-input.short-input#bodyfat-weight
                .calculate-button#bodyfat-button= __('Hesapla')
                .each-calculator-result
                    .each-calculator-result-title
                    .each-calculator-result-text#bodyfat-result-text
            .each-calculator
                .each-calculator-title TDEE 
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('Cinsiyet')
                    .buttons-wrapper
                        .each-calculator-button.tdee-gender#male= __('Erkek')
                        .each-calculator-button.tdee-gender#female= __('Kadın')
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('weight')
                    input.each-calculator-input.short-input#tdee-weight
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('height')
                    input.each-calculator-input.short-input#tdee-height
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('age')
                    input.each-calculator-input.short-input#tdee-age
                .each-calculator-input-wrapper 
                    .each-calculator-input-label= __('Aktiflik Seviyesi')
                    .buttons-wrapper
                        .each-tdee-activity-button.tdee-activity#sedentary= __('Hareketsiz')
                        .each-tdee-activity-button.tdee-activity#light= __('Hafif Aktif')
                        .each-tdee-activity-button.tdee-activity#moderate= __('Orta Aktif')
                        .each-tdee-activity-button.tdee-activity#active= __('Aktif')
                        .each-tdee-activity-button.tdee-activity#very-active= __('Sporcu')
                .calculate-button#tdee-button= __('Hesapla')
                .each-calculator-result
                    .each-calculator-result-title
                    .each-calculator-result-text#tdee-result-text
            .each-calculator
                .each-calculator-title= __('1 Rep Maks')
                .each-calculator-input-wrapper
                    .each-calculator-input-label= __('Ağırlık')
                    input.each-calculator-input.short-input#one-rep-weight 
                .each-calculator-input-wrapper
                    .each-calculator-input-label= __('Tekrar')
                    input.each-calculator-input.short-input#one-rep-reps 
                .calculate-button#one-rep-button= __('Hesapla')
                .each-calculator-result
                    .each-calculator-result-title
                    .each-calculator-result-text#one-rep-max-result-text
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= ('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.responsive-translation-wrapper
                .responsive-translation-button#tr TR 
                .responsive-translation-button#en EN
            a.instagram-wrapper(href='https://www.instagram.com/prodogramfit/' target='_blank')
                svg.instagram-logo(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 448 512')
                    path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')   