extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            .title-wrapper= __('Diyet')
            .each-subtitle-wrapper= __('Makro Besinler')
            .each-paragraph-wrapper= __('Vücut enerjisinin temel kaynağı olan üç ana besin kategorisi - karbonhidratlar, proteinler ve yağlar - makro besinler olarak adlandırılır. Sağlıklı vücut süreçlerini korumak, kas büyümesini desteklemek ve fiziksel aktivite için enerji sağlamak için çok önemlidirler. Sağlık veya performans hedeflerine ulaşmak, besin alımını optimize etmek ve dengeli bir diyet sürdürmek için makroları takip etmek bu süreçlerden verim almak için gereklidir.')
            .each-subtitle-wrapper= __('Mikro Besinler')
            .each-paragraph-wrapper= __('Mikro Besinler, vücudun düzgün çalışması ve genel sağlığın korunması için küçük miktarlarda ihtiyaç duyduğu temel besinlerdir. Metabolizma, bağışıklık fonksiyonu ve hücre büyümesi gibi vücut süreçlerinde önemli görevleri olan vitaminleri ve mineralleri içerirler. Mikro besinler açısından zengin bir diyet tüketmek, genel sağlığı destekleme ve vücudun en iyi şekilde çalışmasını sağlamak için önemlidir.')
            .each-subtitle-wrapper= __('Protein Alımı')
            .each-paragraph-wrapper= __('Kas kütlesi kazanmayı hedeflerken, direnç antrenmanı yapan kişiler için önerilen protein alımı, genellikle günlük vücut ağırlığının kilogramı başına yaklaşık 1,4 ila 2,0 gram proteindir. Bununla birlikte, kesin protein gereksinimleri, bireysel hedefler, egzersiz yoğunluğu ve toplam kalori alımı gibi faktörlere bağlı olarak değişebilir.')
            .each-subtitle-wrapper= __('carbo')
            .each-paragraph-wrapper= __('Kas kütlesi kazanmaya çalışırken, egzersizler için enerji sağlamak ve kas glikojen depolarını desteklemek için karbonhidrat alımı esastır. Kas geliştirmeyi hedefleyen bireyler için önerilen karbonhidrat alımı, aktivite seviyesi, antrenman yoğunluğu ve toplam kalori alımı gibi faktörlere bağlı olarak değişir, ancak genel olarak günlük vücut ağırlığının kilogramı başına 3 ila 5 gram karbonhidrat tüketmek yaygın bir aralıktır. Bir sağlık uzmanına veya tescilli bir diyetisyene danışmak, bireysel ihtiyaçlara ve hedeflere göre en uygun karbonhidrat alımını belirlemeye yardımcı olabilir.')
            .each-subtitle-wrapper= __('Yağ Alımı')
            .each-paragraph-wrapper= __('fat explanation')
            .each-subtitle-wrapper= __('Yeşillikler')
            .each-paragraph-wrapper= __('"Yeşillikler" ıspanak, lahana ve brokoli gibi yeşil yapraklı sebzelerdir. Vitaminler, mineraller ve lif açısından zengin oldukları, genel sağlığı iyileştirdikleri, sindirimi destekledikleri ve vücut için gerekli besinleri sağladıkları için diyete yeşilliklerin dahil edilmesi önemlidir. Yeşilleri diyete dahil etmek ve besleyicilik açısından sağlıklı beslenme planının oluşturulmasını sağlar.')
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/project')#project28= __('Project28')
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= __('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.responsive-translation-wrapper
                .responsive-translation-button#tr TR 
                .responsive-translation-button#en EN             