extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            .title-wrapper= __('Antrenman')
            .each-subtitle-wrapper Powerlifting
            .each-paragraph-wrapper= __('Powerlifting')
            .each-subtitle-wrapper Calisthenics
            .each-paragraph-wrapper= __('Calisthenics')
            .each-subtitle-wrapper= __('Kardiyo')
            .each-paragraph-wrapper= __('Cardio')
            .each-subtitle-wrapper Plyometrics
            .each-paragraph-wrapper= __('Plyometrics') 
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= ('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.translation-wrapper
                .translation-button#tr TR 
                .translation-button#en EN   