extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            .title-wrapper Antrenman
            .each-subtitle-wrapper Powerlifting
            .each-paragraph-wrapper Powerlifting, üç ana hareketi temel alan bir kuvvet sporudur bu hareketler squat, bench press ve deadlift. Powerlifting'in amacı  bir ortamda, bu üç hareketin her birinde mümkün olan en fazla ağırlığı tek bir tekrarla kaldırmaktır. Powerlifting, güçlerini arttırmak, kas kütlesi oluşturmak ve güce dayalı etkinliklere katılmak isteyen kişilere hitap eder. Sağlam bir bodybuilding temeli için kimi vücut geliştiricilere göre esansiyeldir. 
            .each-subtitle-wrapper Calisthenics
            .each-paragraph-wrapper Calisthenics, güç, esneklik ve dayanıklılık oluşturmak için vücut ağırlığı hareketlerini kullanan bir antrenman şeklidir. Şınav,barfiks, squat, ve plank gibi hareketler temel alınır tekrar sayısı arttırılarak veya farklı varyasyonlarla giderek zorlaştırılır. Calisthenics, tüm fitness seviyelerindeki bireyler için uygun, çok yönlü ve erişilebilir bir antrenman şeklidir. Fiziksel kondisyonu, vücut kontrolünü , kas gelişimini ve fonksiyonel gücü  ağırlıklara veya makinelere muhtaç olmadan geliştirmek için bir alternatif sunar.
            .each-subtitle-wrapper Powerbuilding
            .each-paragraph-wrapper  Powerbuilding , güç kazanma ve vücut geliştirme unsurlarını birleştiren antrenman yaklaşımıdır. Aynı anda hem güç hem de kas kazanmaya odaklanır. Güç geliştirme programları, güç kazanımlarını ve kas gelişimini optimize etmek için hipertrofi odaklı egzersizlerin yanı sıra squat, deadlift ve bench press gibi ağır bileşik hareketleri içerir. Powerbuilding, kuvvet antrenmanı ve vücut geliştirmenin faydalarını tek bir kapsamlı antrenman yaklaşımında harmanlayarak hem genel güçlerini hem de kas kütlelerini artırmak isteyen kişiler için optimal bir antrenman yaklaşımıdır. 
            .each-subtitle-wrapper Kardiyo
            .each-paragraph-wrapper Kardiyovasküler egzersizin kısaltması olan kardiyo, kalp atış hızını artıran ve kardiyovasküler sağlığı destekleyen her türlü fiziksel aktiviteyi ifade eder. Tipik olarak, nefes almayı ve oksijen tüketimini artıran koşma, bisiklete binme, yüzme veya aerobik gibi aktivitelerdir. Kardiyovasküler kondisyon geliştirmek, dayanıklılığı artırmak, kalori yakmak ve genel kalp sağlığını desteklemek için kullanılan kardiyo her türlü antrenmanın önemli bir parçasıdır.
            .each-subtitle-wrapper Plyometrics
            .each-paragraph-wrapper Plyometrics, kuvvet üretmek için kasların hızlı bir şekilde gerilmesini ve kasılmasını içeren patlayıcı hareketlere odaklanan bir antrenman şeklidir . Atletik performansı artırmak, hızı, çevikliği ve dikey sıçramayı geliştirmek ve ayrıca kas gücü ve koordinasyonu geliştirmek için fitness programlarında yaygın olarak kullanılır. Plyometrics’i bir antrenman sistemine dahil etmek, sporcuların patlayıcı güçlerini ve dinamik hareket yeteneklerini geliştirmelerine yardımcı olarak, gelişmiş spor performansını artıracaktır. 
        .links-wrapper
            a.each-link-wrapper(href='/program') Paketler
            a.each-link-wrapper(href='/diet') Diyet
            a.each-link-wrapper(href='/exercise') Antrenman
            a.each-link-wrapper(href='/calculator') Hesaplama
            a.each-link-wrapper(href='/faq') S.S.S
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= ('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.translation-wrapper
                .translation-button#tr TR 
                .translation-button#en EN   