extends ../partials/header
block content
    .all-content-wrapper
        .info-wrapper
            .title-wrapper= __('Sıkça Sorulan Sorular')
            .each-subtitle-wrapper= __('Koçluk paketleriniz ne sunuyor ?')
            .each-paragraph-wrapper= __('Gelişim için anahtar olan iki tarafın da özveriyle sürece dahil olmasıdır. Koçluk paketimizde kişinin gelişiminin haftalık olarak değerlendirilmesi ve buna bağlı olarak gerekli dokunuşların fikir alışverişi ile kararlaştırılması esastır. Bu süreçte kafanızda oluşabilecek soru işaretleri için ise WhatsApp hattımızdan size yardımcı olacağız.')
            .each-subtitle-wrapper= __('Sunduğunuz hizmet nedir ?')
            .each-paragraph-wrapper= __('seviye')
            .each-subtitle-wrapper= __('Tek seferlik program fiyatınız nedir ?')
            .each-paragraph-wrapper= __('Tek seferlik programın fiyatını Instagram hesabımız prodogram üzerinden öğrenebilirsiniz.')
            .each-paragraph-wrapper.bulleted= __('• Öncelik her zaman kişinin kendi hedefleridir.')
            .each-paragraph-wrapper.bulleted= __('• Kişinin kalori ihtiyacına göre diyet ve besin takviyesi planları içerir.')
            .each-paragraph-wrapper.bulleted= __('• Hareketlerin nasıl yapıldıklarına dair detaylı açıklamalar ve tavsiyeler mevcuttur.')
            .each-paragraph-wrapper.bulleted= __('• Kişinin hedeflerine özel bir kardiyo programı içerir.')
            .each-paragraph-wrapper.bulleted= __('• Kişinin seviyesine ve müsaitlik durumuna göre tasarlanır.')
            .each-paragraph-wrapper= __('An itibariyle kontenjan mevcuttur, hedeflerinize ulaşacağınız yolda sizinle çalışmak için sabırsızlanıyoruz!')
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= ('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.translation-wrapper
                .translation-button#tr TR 
                .translation-button#en EN   