extends ../partials/header
block content
    .all-content-wrapper
        .intro-wrapper
            .slider-wrapper
                img.each-intro-background(src='res/intro1.jpg')
                img.each-intro-background(src='res/intro2.jpg')
                img.each-intro-background(src='res/intro3.jpg')
                img.each-intro-background(src='res/intro1.jpg')
                img.each-intro-background(src='res/intro2.jpg')
                img.each-intro-background(src='res/intro3.jpg')
                img.each-intro-background(src='res/intro1.jpg')
                img.each-intro-background(src='res/intro2.jpg')
                img.each-intro-background(src='res/intro3.jpg')
            .main-logo-wrapper
                .main-logo-text.white PRO
                .main-logo-text.green DO
                .main-logo-text.white GRAM
        .info-wrapper
            .title-wrapper= __('Misyonumuz')
            .each-paragraph-wrapper= __('Spor salonu denildiğinde genellikle insanların formunda kalmak için gittikleri ağırlıklarının ve koşu bandının bulunduğu bir yer akla gelir. Spor salonu  insanların kondisyon ölçütleri, performanslarını ve vücut estetiklerini bir veya daha fazla amaca yönelik olarak geliştirmek için gittikleri yerlerdir.')
            .each-paragraph-wrapper= __('intro-paragraph-2')
            .each-paragraph-wrapper= __('Prodogram sizin spor ve diyet planlarınızı her türlü hedefinize yaşam tarzınıza ve spor geçmişinize uygun hale getirerek gerçek anlamda kişiselleştirmektedir. İster bir spor salonuna gitme imkanınız olsun ister olmasın. İster patlayıcı kuvvet inşa etmek isteyin isterse estetik bir vücut isterseniz aynı anda birden fazla hedefiniz olsun. Gerek yeni başlayanlara gerekse yıllardır spor ile yaşayan insanlara rehber olmanın peşindeyiz.')
            .each-paragraph-wrapper= __('Biz spor gereksinimlerinizin her birini karşılıyoruz. Prodogram\'da bir fitness felsefemiz var:')
            .slogan-wrapper= __('PLANLA, YAP VE FETHET.')
        .links-wrapper
            a.each-link-wrapper(href='/program')= __('Paketler')
            a.each-link-wrapper(href='/exercise')= __('Antrenman')
            a.each-link-wrapper(href='/diet')= __('Diyet')
            a.each-link-wrapper(href='/faq')= __('S.S.S.')
            a.each-link-wrapper(href='/calculator')= __('Hesaplama')
        .footer-wrapper
            .footer-text-wrapper
                .footer-text.white PRO
                .footer-text.green DO
                .footer-text.white GRAM
    .responsive-sidebar-wrapper#sidebar
        a.sidebar-title-text-wrapper(href='/')
            .title-text.white PRO
            .title-text.green DO
            .title-text.white GRAM
        .sidebar
            a.each-sidebar-item(href='/project')#project28= __('Project28')
            a.each-sidebar-item(href='/program')= __('Paketler')
            a.each-sidebar-item(href='/exercise')= __('Antrenman')
            a.each-sidebar-item(href='/diet')= __('Diyet')
            a.each-sidebar-item(href='/faq')= __('S.S.S.')
            a.each-sidebar-item(href='/calculator')= __('Hesaplama')
            a.responsive-translation-wrapper
                .responsive-translation-button#tr TR 
                .responsive-translation-button#en EN             